:root{
    --wireframe: 1px solid rgba(0, 0, 255, 0.07);
    --padding: 10px;
    --radius: 10px;
    --box-shadow: 5px 5px 5px hsla(0, 0%, 90%, 0.4);

    --black: #333333;
}

body{
    color: var(--black);
    max-width: 900px;
    margin: 10px auto;
    /* border: var(--wireframe); */
}

.grid-item{
    /* pass this to specific grid-item type 
    display: flex;
    align-items: center;
    justify-content: center; 
    */
}