/* NavBar styling */
.navbar {
    /* Full-width positioning */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    
    /* Appearance */
    background-color: var(--container-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    max-width: 80vw;
    margin: 0 auto;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo h2 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-links a{
    display: flex;
    gap: 2rem;
    justify-self: center;
    align-self: center;
    
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: var(--highlight-a);
}

.nav-links button {
    background-color: var(--highlight-b);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s ease;
}

.nav-links button:hover {
    background-color: var(--highlight-a);
}

/* Media query for smaller screens */
@media screen and (max-width: 900px) {
    .nav-links {
        display: none !important;
    }

}

