.transaction-form{
    width: 40%;
    margin: 40px auto;

    @media screen and (max-width: 900px) {
        width: 90%;
    }
}

fieldset{
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    border: none;
}

.transaction-button{
    border: 1px solid var(--highlight-b);
    background-color: var(--container-color);
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
}

.transaction-button:hover{
    background-color: var(--highlight-b);
    color: var(--secondary-color-dark)
}

.input-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
}

.form-input{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.form-label{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: .9rem;
}

.form-input:focus{
    outline: 1px solid var(--highlight-b);
}

.radio-group{
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.radio{
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.radio-group > a:hover{
    background-color: var(--highlight-b);
    color: var(--secondary-color-dark);
}

.active-radio{
    flex: 1;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--highlight-b);
}